body {
	background-color: #E8F1F2;
	color: #3C3744;
	text-justify: center;
	
}

h1, h2 {
	font-family: 'Baloo Paaji 2', cursive;
	color: #090C9B;
}
a {
	color: #3D52D5;
	text-decoration: none;
	}


p{
	color: #3C3744;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 550;
}
.picture-round{
	border-radius: 50%;
}
.card-lightblue{
	border-radius: 5px;
	padding:  30px;
	background: #B4C5E4;
	margin: 80px 0px;
	text-align: center;
}
.shadowed{
	box-shadow: 0 10px 30px rgba(0,0,0,.3);
}
.box-centered{
	width: 950px;    
	margin: 20px auto;
}
.btn-blue{
  background-color: #3D52D5;
 padding: 15px 20px;
 border-radius: 4px;
 width: 100px;
 color: #B4C5E4;
 
}
.btn-blue:hover{
	background-color: #3C3744;
}
.central{
width: 100px;
margin: 20px auto;
}

#intro{
	margin-bottom: 40px;
}
.socialmedia-font{
	font size: 60px;
}
.list-horizontal{
	list-style: none;
	padding-left: 0px;
}
.list-horizontal li{
	display: inline;
	padding: 10px;
	font-size: 50px;
}
.list-horizontal i:hover{
	color: #3C3744;
}

@media (max-width: 960px){
	.box-centered{
	width: 700px;    
	
}
}
@media (max-width: 720px){
	.box-centered{
	width: 525px;    
	
} 
}
@media (max-width: 540px){
	.box-centered{
	width: 394px;    
	
} 
}